/*
 * CSS which defines the layout components: header, sub-header, sidebar, footer...
 */

/* Font */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url("../fonts/lato-regular.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* NASA Header */
#nasa__main-navigation {
    margin: 0;
    background: url("../img/background_star.jpg") repeat;
}

/* Navigation toggle button */
.navbar-toggle {
    padding: 10px;
    margin: 22px 15px 22px 0;
}

/* NASA Logo & Text Container */
.navbar-brand {
    padding: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

/* NASA Logo */
.navbar-brand_logo {
    padding: 12px;
    height: 100%;
}
.navbar-brand_logo img {
    height: 100%;
    width: auto;
}

/* NASA Title */
.navbar-brand_heading {
    height: 100%;
    padding: 15px;
}
.navbar-brand_heading a {
    font-weight: 100;
    color: #eee;
    display: block;
    padding: 2px;
    text-decoration: none;
    font-family: Lato, sans-serif;
}
.navbar-brand_heading a:hover {
    color: white;
}

/* Sub-site background */
#nasa__subsite-section {
    background: transparent;
    border: none;
    position: relative;
}
#nasa__subsite-section:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

/* Sub-site navigation */
#nasa__sub-navigation {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}
#nasa__sub-navigation .nav {
    float: none;
    margin: 0 auto;
    display: table !important;
}
#nasa__sub-navigation .nav > li > a {
    padding: 15px 15px;
}
#nasa__sub-navigation .nav > li:not(.active) > a:not(:hover) {
    background-color: transparent !important;
}
#nasa__sub-navigation .nav > li.active > a,
#nasa__sub-navigation .nav > li > a:active,
#nasa__sub-navigation .nav > li > a:hover {
    color: white;
}
.nasa__sub-navigation-dropdown {
    background: rgb(127, 60, 24);
    box-shadow: -2px 3px 6px 0 #262626;
    color: white;
    font-family: Lato, sans-serif;
    font-weight: 100;
    padding: 5px;
    display: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
}
.nasa__sub-navigation-dropdown-heading span {
    font-family: Lato, sans-serif;
    font-weight: 300;
    border-bottom: 1px solid #cecece;
    padding-bottom: 2px;
    display: inline-block;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nasa__sub-navigation-dropdown ul {
    padding-left: 0;
    list-style-type: none;
}
.nasa__sub-navigation-dropdown ul li {
    padding: 3px 0;
}
.nasa__sub-navigation-dropdown a {
    color: white;
    font-size: 13px;
    text-decoration: none;
}
.nasa__sub-navigation-dropdown a:active,
.nasa__sub-navigation-dropdown a:hover {
    color: #ccc;
}

/* Sub-site information */
#nasa__subsite-section .nasa__sub-name,
#nasa__subsite-section .nasa__sub-logo {
    height: 140px;
}
#nasa__subsite-section.nasa__subsite-section-mini {
    box-shadow: inset 0 0 4px 0 #454545;
}
#nasa__subsite-section.nasa__subsite-section-mini .nasa__sub-name,
#nasa__subsite-section.nasa__subsite-section-mini .nasa__sub-logo {
    height: 65px;
}
.nasa__sub-name {
    padding-left: 15px;
    float: left;
    display: flex;
}
.nasa__sub-name-right {
    float: right;
    text-align: right;
}
.nasa__sub-name > div, .nasa__sub-name > a {
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.nasa__sub-name a {
    font-family: Lato, sans-serif;
    font-weight: 500;
    font-size: 27px;
    color: #eee;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6), 1px 1px 12px rgba(0, 0, 0, 0.8);
}
.nasa__sub-name a div {
    font-size: 19px;
    text-align: start;
}
.nasa__subsite-section-mini .nasa__sub-name a {
    font-size: 22px;
}

/* Sub-site logo */
.nasa__sub-logo {
    float: right;
    display: flex;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}
.nasa__sub-logo-left {
    float: left;
}
.nasa__sub-logo img {
    max-height: 100%;
    max-width: 100%;
}
.nasa__subsite-section-mini .nasa__sub-logo {
    padding: 10px 0;
}

/* Sub-site sidebar */
#nasa__main-sidebar {
    width: 25%;
}
#nasa__main-section .navbar-toggle {
    margin: 10px;
    position: absolute;
    right: 0;
    z-index: 10;
}
#nasa__main-section .navbar-toggle .icon-bar {
    height: 1px;
    background-color: #333;
}

/* Navigation list */
.nav > li {
    transition: opacity 0.3s, visibility 0.3s;
}
.nav > li > a,
.nav > li > span {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Lato, sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    font-weight: 100;
    display: inline-block;
    line-height: 20px;
    color: #9d9d9d;
}

/* Navigation search bar */
.navbar-search-open #search-input-container {
    width: 300px !important;
    background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.35) 10%, black 50%, black 100%);
}
.navbar-form-search #search-input-container > div {
    width: 300px;
}
.navbar-form-search {
    padding: 23px 3px;
    margin: 0;
    border: none;
    box-shadow: none;
    overflow: hidden;
}
.navbar-form-search #search-input-container {
    text-align: right;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 60px;
    padding: 23px 0;
    width: 0;
    transition: all .3s ease-in-out;
}
.navbar-form-search .btn {
    border: 0;
    background: transparent !important;
    font-size: 13px;
    color: #9d9d9d;
}
.navbar-form-search .btn:active,
.navbar-form-search .btn:hover,
.navbar-form-search .btn:focus {
    color: #fff;
    outline: none;
    box-shadow: none;
}
.navbar-form-search .btn span {
    vertical-align: middle;
}
.navbar-form-search input[type="text"] {
    width: inherit;
    border: black;
    background-color: #eee;
    box-shadow: inset 0 0 11px 0 rgba(0, 0, 0, 0.73);
}

/* Sidebar */
#nasa__main-sidebar .navbar-collapse {
    padding: 0;
}
#nasa__main-sidebar li {
    float: none;
}
#nasa__main-sidebar li a {
    padding: 7px 15px;
    display: block;
    color: #333;
    letter-spacing: 0.3px;
}
#nasa__main-sidebar li a:hover {
    background-color: #428bca;
    color: white !important;
}
#nasa__main-sidebar li.always-open > a {
    cursor: default;
    background-color: inherit;
    color: #333 !important;
}

/* Sidebar Navigation Dropdown Trigger (Caret) */
#nasa__main-sidebar li a div {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px 15px 14px;
}
#nasa__main-sidebar li a div:hover {
    background-color: #347bb8;
}

/* Sidebar Navigation Dropdown */
#nasa__main-sidebar li > div {
    padding: 0 15px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    display: block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
#nasa__main-sidebar li > div.open,
#nasa__main-sidebar li.always-open > div {
    max-height: 500px;
    opacity: 1;
}
#nasa__main-sidebar li > div a {
    color: #428bca;
}

/* Main Content */
#nasa__main-section {
    margin: 30px 0;
}

/* Footer */
.footer {
    border-top: 8px solid #AF3C00;
    background-color: #2E2E2E;
    min-height: 30px;
    width: 100%;
    margin-top: auto;
}
.footer .nav > li:not(:last-child) {
    /*margin-right: 10px;*/
}
.footer .nav > li > span {
    font-size: 13px;
    margin-right: -12px;
    margin-left: 10px;
}
.footer .nav > li > a {
    font-size: 13px;
}
.footer .nav > li > a:focus,
.footer .nav > li > a:hover {
    background-color: initial;
    color: white;
}
.footer .nav > li:not(:last-child):after {
    content: '';
    border-right: 1px solid #9d9d9d;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px;
}

/* Responsive Rules */
@media (max-width: 1199px) {   /*md*/
    #nasa__main-navigation .container {
        margin: 0;
        width: 100%;
        padding: 0 30px;
    }
}
@media (max-width: 991px) {   /*sm*/
    .navbar-brand_heading {
        display: none;
    }
    .nasa__sub-logo, .nasa__sub-name {
        float: none;
        justify-content: center;
    }
}
@media (max-width: 767px) {   /*xs*/
    .navbar-brand_heading, #hide-search-input-container, .footer .nav {
        display: none;
    }

    /* Search bar */
    .navbar-form-search {
        position: absolute;
        z-index: 50;
        top: 0;
        right: 0;
        padding: 10px;
    }
    .navbar-search-open .navbar-form-search {
        left: 0;
        background-color: black;
    }
    #search-input-container {
        left: 60px;
        padding: 10px 0 !important;
    }

    /* Navigation items */
    .navbar-search-open .nav > li {
        visibility: visible !important;
        opacity: 1 !important;
    }
    .nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    /* Separator between main and sub navigation */
    #nasa__main-navigation .nav > li:last-child {
        border-bottom: 1px solid;
    }

    /* Sub-site navigation */
    #nasa__sub-navigation {
        background-color: black;
    }
    #nasa__sub-navigation .nav {
        float: left;
        display: block !important;
        padding-left: 0;
        border: none;
        box-shadow: none;
    }
    #nasa__sub-navigation .nav.navbar-collapse.collapse:not(.in) {
        display: none !important;
    }
    #nasa__sub-navigation .nav li a {
        background-color: transparent;
    }

    /* Sub-site background */
    #nasa__subsite-section:after {
        background-size: auto 140px;
        background-position: center bottom 0;
    }
    #nasa__subsite-section.nasa__subsite-section-mini:after {
        background-position: center top 0;
    }
    .nasa__sub-name a {
        font-size: 24px;
    }

    /* Sidebar */
    #nasa__main-sidebar {
        width: auto;
    }
    #nasa__main-sidebar .navbar-collapse {
        padding-right: 50px;
    }
}